<div class="alert alert-info"
     *ngIf="model.length === 0">
  <h3>You have no holidays! Add Some!</h3>
</div>
<ul class="list-unstyled">
  <li class="alert"
      [ngClass]="{'alert-success': !holiday.past, 'alert-info': holiday.past }"
      *ngFor="let holiday of model">
    <h5>{{ holiday.name }}</h5>
    <p>{{ holiday.date | date:'fullDate' }}</p>
    <p>Saved: {{ !holiday.isTemporary }}</p>
    <div *ngIf="!holiday.isTemporary"
         class="input-group">
      <select class="custom-select"
              id="inputGroupSelect04"
              aria-label="Example select with button addon"
              #friend>
        <option selected>Select Friend ...</option>
        <option *ngFor="let f of (friends$ | async)"
                value="{{ f.id }}">{{ f.name }}</option>
      </select>
      <div class="input-group-append">
        <input type="button"
               class="btn btn-primary"
               (click)="addHoliday(friend.value, holiday.id)"
               value="Add Holiday for Friend">
      </div>
    </div>
  </li>

</ul>
